<%= form_for @guest do |f| %>
  <p>
    Guest firstname: <%= f.text_field :firstname %>
  </p>
  <p>
      Guest lastname: <%= f.text_field :lastname %>
  </p>
  <%= f.fields_for :participations, @participation do |participation_form| %>
    <p>
      Guest_id: <%= participation_form.number_field :guest_id %>
    </p>
    <p>
      tasting_id: <%= participation_form.number_field :tasting_id %>
    </p>
  <% end %>
  <p>
    <%= f.submit "s'enregistrer" %>
  </p>
<% end %>
