<%= form_for @guest do |f| %>
  <p>
    Prénom: <%= f.text_field :firstname %>
  </p>
  <p>
      Nom: <%= f.text_field :lastname %>
  </p>
  <%= f.fields_for :participations, @participation do |participation_form| %>
    <%= participation_form.hidden_field :guest_id, :value => (Guest.last.id + 1) %>
    <p>
    <%= participation_form.hidden_field :tasting_id, :value => (Tasting.where(open: true).first.id) %>
  <% end %>
  <p>
    <%= f.submit "s'enregistrer" %>
  </p>
<% end %>
