<div class="container">

  <div class="home-banner">
    <h1>bière michel</h1>
    <h2>brasserie collaborative</h2>
  </div>


  <div class="who-are-we">
    <h3>Qui sommes-nous ?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at mattis eros. Sed ornare nisi nec eleifend varius. In sit amet faucibus orci. Aenean convallis ligula odio, et dapibus tellus fringilla ut.

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at mattis eros. Sed ornare nisi nec eleifend varius. In sit amet faucibus orci. </p>
    <div class="crew-pictures">
      <div class="item-crew">
        <%= image_tag "Fab.jpg" %>
      </div>
      <div class="item-crew">
        <%= image_tag "Paul.jpg" %>
      </div>
      <div class="item-crew">
        <%= image_tag "Chillou.jpg" %>
      </div>
      <div class="item-crew">
        <%= image_tag "Joris.jpg" %>
      </div>
      <div class="item-crew">
        <%= image_tag "Guillermo.jpg" %>
      </div>
    </div>
  </div>

  <div class="the-brew">
    <h3>les brassages</h3>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at mattis eros. Sed ornare nisi nec eleifend varius. In sit amet faucibus orci. Aenean convallis ligula odio, et dapibus tellus fringilla ut.

    On peut détailler ici la fabrication de la sainte bière, avec un petit peu de détail mais pas trop, un peu comme un post de blog pas trop long.

    Ami de la synthèse à vos stylos !!

    Merci bisous à tous.
    </p>

  </div>

</div>

