<div class="container">

  <div class="home-banner">
    <h1>bière michel</h1>
    <h2>brasserie collaborative</h2>
  </div>


  <div id="who-are-we">
    <h3>Qui sommes-nous ?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at mattis eros. Sed ornare nisi nec eleifend varius. In sit amet faucibus orci. Aenean convallis ligula odio, et dapibus tellus fringilla ut.

    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at mattis eros. Sed ornare nisi nec eleifend varius. In sit amet faucibus orci. </p>
    <div class="crew-pictures">
      <div class="item-crew">
        <%= image_tag "Fab.jpg" %>
      </div>
      <div class="item-crew">
        <%= image_tag "Paul.jpg" %>
      </div>
      <div class="item-crew">
        <%= image_tag "Chillou.jpg" %>
      </div>
      <div class="item-crew">
        <%= image_tag "Joris.jpg" %>
      </div>
      <div class="item-crew">
        <%= image_tag "Guillermo.jpg" %>
      </div>
    </div>
  </div>

  <div id="the-brew">
    <h3>les brassages</h3>
    <div class="brew-content">
      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent at mattis eros. Sed ornare nisi nec eleifend varius. In sit amet faucibus orci. Aenean convallis ligula odio, et dapibus tellus fringilla ut.
      <br/><br/>

      On peut détailler ici la fabrication de la sainte bière, avec un petit peu de détail mais pas trop, un peu comme un post de blog pas trop long.<br/><br/>

      Ami de la synthèse à vos stylos !!<br/><br/>

      Merci bisous à tous.
      </p>

    </div>

  </div>

  <div id="tasting">
    <h3>dégustations</h3>
    <p>Tous les mois, nos bières sont dégustés avec la grande famille du houblon au 105 boulevard Saint-Michel.</p>
    <div class="gmaps">
    </div>
    <p>Une petite inscription vous permettra peut être de gloser, ripailler, boire et chanter avec la troupe de la Bière Michel.</p>
  </div>

  <div class="inscription">
    <div class="inscription-form">
      <!-- here we have to put a simple form for tasting -->
      <h3>INSCRIPTION</h3>
      <% if Tasting.all.first != nil %>
        <% if Tasting.where(open:true).first != nil %>
          <% if Participation.where(tasting_id: Tasting.where(open:true).first.id).count == Tasting.where(open:true).first.capacity %>
          <p> Désolé, la soirée dégustation du <%= Tasting.where(open: true).first.date %> est complète ! </p>
          <% else %>
            <p>Inscrivez-vous pour la prochaine soirée dégustation du <%= Tasting.where(open: true).first.date %></p>

            <%= render 'guests/new' %>
          <% end %>
        <% end %>
      <% else %>
        <p>Aucune dégustation n'est prévue pour le moment, mais ça va arriver très prochainement !</p>
      <% end %>
    </div>
  </div>

  <div class="contact">
    <p>Une question houblonnée, une envie de malt ?</p>
    <div class="contact-button">
      Nous contacter
    </div>
  </div>

  <div class="menu-admin">
    <% if user_signed_in? %>


    <%= link_to "Espace brasseur", tastings_path %>

    <div class="connection">
    <%= link_to destroy_user_session_path, method: :delete do %>
      <%= t(".sign_out", default: "Déconnexion") %>
    <% end %>
    </div>


  </div>
  <% end %>
  </div>
</div>

