<div class="container">

  <div class="home-banner">
    <h1>bière michel</h1>
    <h2>boissons vivantes</h2>
  </div>


  <div id="who-are-we">
    <h3>La Brasserie évolue !</h3>
    <p>La Brasserie de la Bière Michel est une association d'amis parisiens offrant une large gamme de boissons fermentées : bières, kombucha, kefir, ginger beer... Nos boissons sont vivantes, s'affirmant au cours du temps. Leurs saveurs particulières et effets bénéfiques pour la santé sont le fruit d'un travail minutieux lors de la fermentation.
    </p>
    <div class="crew-pictures">
      <div class="item-crew">
        <%= image_tag "Paul.jpg" %>
      </div>
      <div class="item-crew">
        <%= image_tag "JB.jpg" %>
      </div>
      <div class="item-crew">
        <%= image_tag "pierre.jpg" %>
      </div>
      <div class="item-crew">
        <%= image_tag "Chillou.jpg" %>
      </div>
    </div>
  </div>

  <div id="the-brew">
    <h3>les brassages</h3>
    <div class="brew-content">
      <p> Nous proposons à la dégustation deux variétés de bières. Une Session IPA, légère en alcool, idéal pour profiter d'une après-midi ensoleillée en terrasse et une saison belge, ronde en bouche. D'autres boissons sont prévues : IPA, ginger beer, kéfir... Passez-nous voir au 9 rue Esquirol, 75013 Paris. Nous vous accueillerons un verre à la main.
      </p>
    </div>
  </div>

  <div id="trusted-partner">
    <h3 class="trusted-header">Ils nous soutiennent</h3>
    <div class="partner-pictures">
      <div class="item-partner">
        <a href="https://www.paris.fr/actualites/houblon-saison-1-les-8-laureats-sont-5541">
          <%= image_tag "mairie.png" %>
        </a>
      </div>
      <div class="item-partner">
        <a href="https://www.lewagon.com/fr">
          <%= image_tag "wagon.png" %>
        </a>
      </div>
      <div class="item-partner">
        <a href="http://www.parisculteurs.paris/fr/sites/houblon-saison-1/">
          <%= image_tag "parisculteur.png" %>
        </a>
      </div>
    </div>
  </div>

  <div class="inscription">
    <div class="inscription-form">
      <!-- here we have to put a simple form for tasting -->
      <h3>INSCRIPTION</h3>
      <% if Tasting.all.first != nil %>
        <% if Tasting.where(open:true).first != nil %>
          <% if Participation.where(tasting_id: Tasting.where(open:true).first.id).count == Tasting.where(open:true).first.capacity %>
          <p> Désolé, la soirée dégustation du <%= Tasting.where(open: true).first.date %> est complète ! </p>
          <% else %>
            <p>Inscrivez-vous pour la prochaine soirée dégustation du <%= Tasting.where(open: true).first.date %></p>
            <h4>Bières proposées :</h4>
            <div class="bierdisplay">
              <% if Tasting.where(open: true).first.ambree? %>
                <h3 class="display-true">ambree</h3>
              <% else %>
                <h3 class="display-false">ambree</h3>
              <% end %>
              <% if Tasting.where(open: true).first.ipa? %>
                <h3 class="display-true">ipa</h3>
              <% else %>
                <h3 class="display-false">ipa</h3>
              <% end %>
              <% if Tasting.where(open: true).first.surprise? %>
                <h3 class="display-true">surprise</h3>
              <% else %>
                <h3 class="display-false">surprise</h3>
              <% end %>
              <% if Tasting.where(open: true).first.blonde? %>
                <h3 class="display-true">blonde</h3>
              <% else %>
                <h3 class="display-false">blonde</h3>
              <% end %>
            </div>

            <%= render 'guests/new' %>
          <% end %>
        <% end %>
      <% else %>
        <p>Aucune dégustation n'est prévue pour le moment, mais ça va arriver très prochainement !</p>
      <% end %>
    </div>
  </div>

  <div id="contact">
    <p>Une question houblonnée, une envie de malt ?</p>
    <div class="contact-button">
      Nous contacter
    </div>
    <%= render 'contacts/new' %>
    <div id="contact-popup">
      <div class="close-btn">
        X
      </div>
      <h4>Envoie-nous un message ici :</h4>
      <form>
        <input type="text" name="contact-name" id="popup-field1" placeholder="Ton nom"/>
        <input type="text" name="contact-email" id="popup-field2" placeholder="Email"/>
        <textarea name="contact-message" id="popup-field3" placeholder="Ecris ici ton message"></textarea>
        <input type="submit" id="close-popup" value="Envoyer le message" />
      </form>
    </div>
  </div>

  <div class="menu-admin">
    <% if user_signed_in? %>


    <%= link_to "Espace brasseur", tastings_path %>

    <div class="connection">
    <%= link_to destroy_user_session_path, method: :delete do %>
      <%= t(".sign_out", default: "Déconnexion") %>
    <% end %>
    </div>

  </div>
  <% end %>


  </div>
</div>

