<div class="container">

  <div class="home-banner">
    <h1>bière michel</h1>
    <h2>brasserie collaborative</h2>
  </div>


  <div id="who-are-we">
    <h3>Qui sommes-nous ?</h3>
    <p>La Brasserie de la Bière Michel est une association d'amis parisiens se retrouvant avec l’envie de brasser leur propre bière afin faire découvrir cette boisson maltée sous l’angle des micro-brasseries, bien loin des géants de la bière. Pour cela, nos brassages sont ouverts à toutes et à tous, et nous organisons régulièrement des soirées dégustations où l’échange est le mot d’ordre. Par ailleurs, pour certains brassins d’exception, nous maltons nous même l’orge d’un agriculteur proche de la brasserie et cultivons sur les murs de Paris une partie du houblon utilisé.</p>
    <div class="crew-pictures">
      <div class="item-crew">
        <%= image_tag "fab.jpg" %>
      </div>
      <div class="item-crew">
        <%= image_tag "Paul.jpg" %>
      </div>
      <div class="item-crew">
        <%= image_tag "JB.jpg" %>
      </div>
      <div class="item-crew">
        <%= image_tag "guigui.jpg" %>
      </div>
      <div class="item-crew">
        <%= image_tag "nico.jpg" %>
      </div>
      <div class="item-crew">
        <%= image_tag "callixte.jpg" %>
      </div>
      <div class="item-crew">
        <%= image_tag "pierre.jpg" %>
      </div>
      <div class="item-crew">
        <%= image_tag "Joris.jpg" %>
      </div>
      <div class="item-crew">
        <%= image_tag "Chillou.jpg" %>
      </div>
    </div>
  </div>

  <div id="the-brew">
    <h3>les brassages</h3>
    <div class="brew-content">
      <p> Les variétés de bières proposées par la brasserie sont choisis selon l’envie du moment, la saison et évidement vos suggestions, mais la palette est large (Pale Ale, Amber Ale, IPA, Saison, Session IPA…). Nos brassins se font dans des cuves de 150 litres selon le principe de fermentation haute produisant environs 80 litres de bières à partager. Actuellement, nous nous réunissons pour brasser une à deux fois par mois et nous nous organisons pour augmenter notre nombre de brassins !
      </p>
    </div>
  </div>

  <div id="trusted-partner">
    <h3 class="trusted-header">Ils nous soutiennent</h3>
    <div class="partner-pictures">
      <div class="item-partner">
        <a href="https://www.paris.fr/actualites/houblon-saison-1-les-8-laureats-sont-5541">
          <%= image_tag "mairie.png" %>
        </a>
      </div>
      <div class="item-partner">
        <a href="https://www.lewagon.com/fr">
          <%= image_tag "wagon.png" %>
        </a>
      </div>
      <div class="item-partner">
        <a href="http://www.parisculteurs.paris/fr/sites/houblon-saison-1/">
          <%= image_tag "parisculteur.png" %>
        </a>
      </div>
    </div>
  </div>

  <div class="inscription">
    <div class="inscription-form">
      <!-- here we have to put a simple form for tasting -->
      <h3>INSCRIPTION</h3>
      <% if Tasting.all.first != nil %>
        <% if Tasting.where(open:true).first != nil %>
          <% if Participation.where(tasting_id: Tasting.where(open:true).first.id).count == Tasting.where(open:true).first.capacity %>
          <p> Désolé, la soirée dégustation du <%= Tasting.where(open: true).first.date %> est complète ! </p>
          <% else %>
            <p>Inscrivez-vous pour la prochaine soirée dégustation du <%= Tasting.where(open: true).first.date %></p>
            <h4>Bières proposées :</h4>
            <div class="bierdisplay">
              <% if Tasting.where(open: true).first.ambree? %>
                <h3 class="display-true">ambree</h3>
              <% else %>
                <h3 class="display-false">ambree</h3>
              <% end %>
              <% if Tasting.where(open: true).first.ipa? %>
                <h3 class="display-true">ipa</h3>
              <% else %>
                <h3 class="display-false">ipa</h3>
              <% end %>
              <% if Tasting.where(open: true).first.surprise? %>
                <h3 class="display-true">surprise</h3>
              <% else %>
                <h3 class="display-false">surprise</h3>
              <% end %>
              <% if Tasting.where(open: true).first.blonde? %>
                <h3 class="display-true">blonde</h3>
              <% else %>
                <h3 class="display-false">blonde</h3>
              <% end %>
            </div>

            <%= render 'guests/new' %>
          <% end %>
        <% end %>
      <% else %>
        <p>Aucune dégustation n'est prévue pour le moment, mais ça va arriver très prochainement !</p>
      <% end %>
    </div>
  </div>

  <div id="contact">
    <p>Une question houblonnée, une envie de malt ?</p>
    <div class="contact-button">
      Nous contacter
    </div>
    <%= render 'contacts/new' %>
    <div id="contact-popup">
      <div class="close-btn">
        X
      </div>
      <h4>Envoie-nous un message ici :</h4>
      <form>
        <input type="text" name="contact-name" id="popup-field1" placeholder="Ton nom"/>
        <input type="text" name="contact-email" id="popup-field2" placeholder="Email"/>
        <textarea name="contact-message" id="popup-field3" placeholder="Ecris ici ton message"></textarea>
        <input type="submit" id="close-popup" value="Envoyer le message" />
      </form>
    </div>
  </div>

  <div class="menu-admin">
    <% if user_signed_in? %>


    <%= link_to "Espace brasseur", tastings_path %>

    <div class="connection">
    <%= link_to destroy_user_session_path, method: :delete do %>
      <%= t(".sign_out", default: "Déconnexion") %>
    <% end %>
    </div>

  </div>
  <% end %>


  </div>
</div>

