<div class="index-tastings">

  <h1>Liste des tastings</h1>
  <div class="tableau-tastings">
    <div class="row">
      <div class="col-xs-3">
        <p>Date</p>
      </div>
      <div class="col-xs-3">
        <p>Nombre de places totales</p>
      </div>
      <div class="col-xs-3">
        <p>Inscriptions ouvertes?</p>
      </div>
      <div class="col-xs-3">
        <p>Actions</p>
      </div>
    </div>
    <% @tastings.each do |tasting| %>
      <div class="row">
        <div class="col-xs-3">
          <%= tasting.date %>
        </div>
        <div class="col-xs-3">
          <%= tasting.capacity %>
        </div>
        <div class="col-xs-3">
          <% if tasting.open? %>
            <p>Oui</p>
          <% else %>
            <p>Non</p>
          <% end %>
        </div>
        <div class="col-xs-3">
          <%= link_to edit_tasting_path(tasting.id) do %>
            <p>Modifier</p>
          <% end %>
          <%= link_to tasting_path(tasting.id), method: :delete, remote: true, data: { confirm: "Supprimer cette dégustation?" } do %>
            <p>Supprimer</p>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>

  <%= render 'tastings/new' %>

  <h1>Brasseurs enregistrés</h1>
  <div class="tableau-users">
    <div class="row">
      <div class="col-xs-6">
        <p>e-mail</p>
      </div>
      <div class="col-xs-6">
        <p>Brasseur certifié?</p>
      </div>
    </div>
    <% User.all.each do |user| %>
      <div class="row">
        <div class="col-xs-6">
          <%= user.email %>
        </div>
        <div class="col-xs-6">
          <% if user.admin? %>
           <p> oui </p>
          <% else %>
           <p> non </p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <h1>Participants au prochain tasting</h1>
  <h4>
    <% targetTasting = Tasting.where(open: true).first %>
    <%= targetTasting.date %>
    -  <% places = (targetTasting.capacity - Participation.where(tasting_id: targetTasting.id).count) %>
    <%= places %> places restantes
  </h4>
  <div class="tableau-guests">
    <div class="row">
      <% targetTasting.participations.each do |p| %>
        <div class="col-xs-6">
          <%= p.guest.firstname %> <%= p.guest.lastname %>
        </div>
        <div class="col-xs-6">
          <%= p.guest.email %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="export-to-clipboard">
    <h4>
      <%= link_to "Afficher la liste des mails" %>
    </h4>
  </div>
  <%= link_to "Retour à l'accueil", root_path %>
</div>



