<!DOCTYPE html>
<html>
  <head>
    <meta property="og:image" content="https://bieremichel.herokuapp.com/assets/biere-michel-capture-c6319e5c0a59ccbe364f763ae18f383e2d5baf9b5bd8c59e961c067b087fa0d9.jpg">
    <meta property="og:description" content="Inscrivez-vous pour les prochaines dégustations de la Bière Michel!">
    <meta property="og:url" content="https://bieremichel.herokuapp.com/">
    <meta property="og:title" content="Bière Michel">
    <meta name="description" content="Inscrivez-vous pour les prochaines dégustations de la Bière Michel!">
    <link rel="canonical" href="https://bieremichel.herokuapp.com/">
    <meta property="og:locale" content="fr_FR">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Bière Michel">
    <%= favicon_link_tag %>
    <title>Bière Michel</title>



    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">

    <%= stylesheet_link_tag    'application', media: 'all'%>
  </head>

  <body>
    <%= render 'shared/navbar' %>
    <%= yield %>

    <%= javascript_include_tag "application" %>
    <%= javascript_pack_tag "application" %>
    <%= javascript_include_tag "https://maps.google.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_KEY']}" %>
    <%= javascript_pack_tag "map" %>
    <script type="text/javascript" data-turbolinks-eval=false>
    console.log("I'm only run once on the initial page load");
    </script>
  </body>
</html>
